<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="endpoints" type="HL7Fuse.Hub.Configuration.EndPointConfigurationHandler, HL7Fuse.Hub" />
    <section name="messageRouting" type="HL7Fuse.Hub.Configuration.HL7RoutingRulesConfigurationHandler, HL7Fuse.Hub" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SNService" />
    <add key="CommunicationName" value="NSTool" />
    <add key="EnvironmentIdentifier" value="Development" />

    <!-- Handle each Hl7 message as separate event or use a MessageFactory class. The default is false -->
    <add key="HandleEachMessageAsEvent" value="false" />
    <!-- Send a positive ACK message instead of an error when a message handler is not implemented. The default is false -->
    <add key="AcceptEventIfNotImplemented" value="true" />

    <!-- Settings for Nss service -->
    <add key="SendRetryPause" value="1000" />
    <!-- Milliseconds to wait before retrying to deliver message to the endpoint -->
    <add key="SendRetryCount" value="10" />
    <!-- Number of retries per message -->

    <!-- Message handler to use for the HL7Fuse.Hub -->
    <!--<add key="HubMessageHandler" value="SomeApplication.Class, Assembly"/>-->
  </appSettings>
  <superSocket>
    <servers>
      <server name="NssService" serverTypeName="MLLPServer" ip="Any" port="2022" maxRequestLength="2048" maxConnectionNumber="100">
        <!-- add attribute security="ssl" (or value tls) to enable an encrypted connection -->
        <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>
				-->
        <commandAssemblies>
          <add assembly="NSService" />
        </commandAssemblies>
      </server>

      <server name="NSSFile" serverTypeName="FileServer" incomingDirectory="..\..\..\Test Files\Incoming" outgoingDirectory="..\..\..\Test Files\Outgoing" backupDirectory="..\..\..\Test Files\Processed" errorDirectory="..\..\..\Test Files\Error" fileMask="*.hl7" pollTime="1000" ip="127.0.0.1" port="1001">
        <commandAssemblies>
          <add assembly="NSService" />
        </commandAssemblies>
      </server>
      <!--			<server name="TestReceiver" serverTypeName="MLLPServer" ip="Any" port="4040" maxConnectionNumber="100">
			</server> -->
    </servers>
    <serverTypes>
      <add name="MLLPServer" type="NSService.MLLPServer, NSService" />
      <add name="FileServer" type="NSService.FileServer, NSService" />
    </serverTypes>
  </superSocket>
  <endpoints>
    <FileEndpoint name="TestFileEndPoint" targetDirectory="c:\data\t" />
  </endpoints>
</configuration>
