<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="MVVMHelpers" version="2012.4.20.03" targetFramework="net461" />
  <package id="nHapi" version="2.5.0.6" targetFramework="net461" />
</packages>